<h1>Account Settings</h1>
<hr>
<h2>Edit your account details</h2>
<div class="formWrapper">
   <form action="/api/users" id="accountEdit1">
      <input class="hidden1" type="hidden" name="_method" value="PUT">
      <div class="formError"></div>
      <div class="formSuccess">Your Changes Have Been Saved</div>
      <input class="hidden2 hiddenEmailInput" type="hidden" name="email">
      <div class="inputWrapper email">
         <div class="inputLabel">E-mail</div>
         <input class="disabled displayEmailInput" type="text" name="displayEmail" disabled>
      </div>
      <div class="inputWrapper firstName">
         <div class="inputLabel">First Name</div>
         <input class="firstNameInput" type="text" name="firstName">
      </div>
      <div class="inputWrapper lastName">
         <div class="inputLabel">Last Name</div>
         <input class="lastNameInput" type="text" name="lastName">
      </div>
      <div class="inputWrapper streetAdd">
         <div class="inputLabel">Street Address</div>
         <input class="streetAddressInput address" type="text" name="streetAddress">
      </div>
      <div class="inputWrapper city">
         <div class="inputLabel">City</div>
         <input class="cityInput address" type="text" name="city">
      </div>
      <div class="inputWrapper state">
         <div class="inputLabel">State</div>
         <select class="stateInput address" name="state">
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AR">AR</option>	
            <option value="AZ">AZ</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DC">DC</option>
            <option value="DE">DE</option>
            <option value="FL">FL</option>
            <option value="GA">GA</option>
            <option value="HI">HI</option>
            <option value="IA">IA</option>	
            <option value="ID">ID</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="KS">KS</option>
            <option value="KY">KY</option>
            <option value="LA">LA</option>
            <option value="MA">MA</option>
            <option value="MD">MD</option>
            <option value="ME">ME</option>
            <option value="MI">MI</option>
            <option value="MN">MN</option>
            <option value="MO">MO</option>	
            <option value="MS">MS</option>
            <option value="MT">MT</option>
            <option value="NC">NC</option>	
            <option value="NE">NE</option>
            <option value="NH">NH</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>			
            <option value="NV">NV</option>
            <option value="NY">NY</option>
            <option value="ND">ND</option>
            <option value="OH">OH</option>
            <option value="OK">OK</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="SC">SC</option>
            <option value="SD">SD</option>
            <option value="TN">TN</option>
            <option value="TX">TX</option>
            <option value="UT">UT</option>
            <option value="VT">VT</option>
            <option value="VA">VA</option>
            <option value="WA">WA</option>
            <option value="WI">WI</option>	
            <option value="WV">WV</option>
            <option value="WY">WY</option>
         </select>
      </div>
      <div class="inputWrapper zipCode">
         <div class="inputLabel">Zip Code</div>
         <input class="zipCodeInput address" type="text" name="zipCode">
      </div>
      <div class="inputWrapper button">
         <button type="submit" class="cta green">Save Changes</button>
      </div>
   </form>
   <hr>
   <h2>Change Your Password</h2>
   <div class="formWrapper">
      <form action="/api/users" id="accountEdit2">
         <input class="hidden1" type="hidden" name="_method" value="PUT">
         <div class="formError"></div>
         <div class="formSuccess">Your New Password Has Been Saved</div>
         <input class="hidden2 hiddenEmailInput" type="hidden" name="email">
         <div class="inputWrapper password">
            <div class="inputLabel">Password</div>
            <input type="password" name="password" placeholder="password">
         </div>
         <div class="inputWrapper button">
            <button type="submit" class="cta blue">Save Password</button>
         </div>
      </form>
   </div>
   <hr>
   <h2>Delete Your Account</h2>
   <div class="formWrapper">
      <form action="/api/users"  id="accountEdit3" method="DELETE">
         <input class="hidden1" type="hidden" name="_method" value="DELETE">
         <div class="formError"></div>
         <div class="warning">Warning: This action cannot be undone</div>
         <input class="hidden2 hiddenEmailInput" type="hidden" name="email">
         <div class="inputWrapper ctaWrapper button">
            <button type="submit" class="cta red">Delete Account</button>
         </div>
      </form>
   </div>
</div>