<h1>Log In</h1>
<hr>
<div class="formWrapper">
   <form id="sessionCreate" action="/api/tokens" method="post">
      <div class="formError"></div>
      <div class="inputWrapper email">
         <div class="inputLabel">E-mail</div>
         <input type="text" name="email" placeholder="johndoe@example.com">
      </div>
      <div class="inputWrapper password">
         <div class="inputLabel">password</div>
         <input type="password" name="password" placeholder="password">
      </div>
      <div class="inputWrapper button">
         <button type="submit" class="cta blue" >Log In</button>
      </div>
   </form>
</div>