<h1>Item Edit</h1>
<a class="cta blue" href="/cart/edit">Back</a>
<hr>
<div class="formWrapper">
  <form id="itemEdit1" action="/api/items">
    <div class="formError"></div>
    <input id="itemId" class="hiddenIdInput" type="hidden" name="itemId">
    <input id="email" class="hidden2 hiddenEmailInput" type="hidden" name="email">
    <input id="_method" class="hidden1" type="hidden" name="_method" value="POST">
    <div class="inputWrapper">
      <div class="inputLabel">Size</div>
      <select class="sizeInput" name="size">
        <option value="small" selected>Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
      </select>
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Toppings</div>
      <div class="checkboxGroup">
        <label><input type="checkbox" class="toppingInput multiSelect" name="toppings" value="pepperoni">Pepperoni</label>
        <label><input type="checkbox" class="toppingInput multiSelect" name="toppings" value="sausage">Sausage</label>
        <label><input type="checkbox" class="toppingInput multiSelect" name="toppings" value="onions">Onions</label>
        <label><input type="checkbox" class="toppingInput multiSelect" name="toppings" value="mushrooms">Mushrooms</label>
        <label><input type="checkbox" class="toppingInput multiSelect" name="toppings" value="olives">Olives</label>
        <label><input type="checkbox" class="toppingInput multiSelect" name="toppings" value="green_pepper">Green Pepper</label>
        <label><input type="checkbox" class="toppingInput multiSelect" name="toppings" value="garlic">Garlic</label>
        <label><input type="checkbox" class="toppingInput multiSelect" name="toppings" value="tomatoes">Tomatoes</label>
        <label><input type="checkbox" class="toppingInput multiSelect" name="toppings" value="spinach">Spinach</label>
        <label><input type="checkbox" class="toppingInput multiSelect" name="toppings" value="pineapple">Pineapple</label>
        <label><input type="checkbox" class="toppingInput multiSelect" name="toppings" value="ham">Ham</label>
        <label><input type="checkbox" class="toppingInput multiSelect" name="toppings" value="bacon">Bacon</label>
        <label><input type="checkbox" class="toppingInput multiSelect" name="toppings" value="hamburger">Hamburger</label>
        <label><input type="checkbox" class="toppingInput multiSelect" name="toppings" value="extra_cheese">Extra Cheese</label>
      </div>
    </div>
    <div class="inputWrapper ctaWrapper">
      <button id='addSubmit' type="submit" class="cta green"></button>
    </div>
  </form>
  <form id="itemEdit2" action="/api/items">
    <input type="hidden" name="_method" value="DELETE"/>
    <div class="formError"></div>
    <input class="hiddenIdInput" type="hidden" name="itemId" />
    <div class="inputWrapper ctaWrapper">
      <button type="submit" class="cta red">Delete Item</button>
    </div>
  </form>
</div>