* {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-attachment: fixed;
   background-image: url('adult-alcohol-bar.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: black;
}

main {
   min-height: calc(100vh - 120px);
}

header {
   background-color: rgba(0, 0, 0, 0.5);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}

a,
a:hover,
a:active,
a:visited {
   text-decoration: none;
}

hr {
   border-color: black;
   margin: 5px 0;
}

/* nav */

nav ul {
   list-style-type: none;
   opacity: 1;
   float: right;
   margin: 0 10px;
}

nav ul li {
   display: inline-block;
   line-height: 40px;
   padding: 0 10px;
}

nav ul li a,
nav ul li a:hover,
nav ul li a:active,
nav ul li a:visited {
   color: white;
   display: block;
}

header ul li.loggedIn {
   display: none;
}

body.loggedIn header ul li.loggedIn {
   display: inline-block;
}

body.loggedIn header ul li.loggedOut {
   display: none;
}

body.index li.home {
   display: none;
}

body.accountCreate li.signUp,
body.accountCreate li.login {
   display: none;
}

body.sessionCreate li.signUp,
body.sessionCreate li.login {
   display: none;
}

/* main */

main {
   margin: 40px 0 0 0;
}

.wrapper {
   display: inline-grid;
   grid-template-columns: 375px;
   width: 100%;
}

/* splash */

.splash {
   background-color: rgba(0, 0, 0, 0.5);
   text-align: center;
   justify-content: center;
   color: white;
}

body.index .splash {
   padding: 40px 0 0 0;
   min-height: calc(100vh - 40px);
}

body.index .logo img {
   display: block;
}

.logo img {
   display: none;
   width: 375px;
   height: 375px;
}

/* input */

.inputArea {
   background-color: rgba(255, 255, 255, 0.9);
   padding: 10px 5px;
}

.inputArea h1,
.inputArea h3 {
   margin: 5px 0;
   text-align: center;
}

/* buttons */

.ctaWrapper {
   text-align: center;
}

.cta,
a.cta:hover,
a.cta:active,
a.cta:visited,
button.cta:hover,
button.cta:active,
button.cta:visited {
   background-color: black;
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   display: inline-block;
   padding: 7px;
   min-width: 100px;
   cursor: pointer;
   border: none;
   margin: 10px 0;
}

.cta.blue {
   background-color: #214478 !important;
}

.cta.green {
   background-color: #217844 !important;
}

.cta.red {
   background-color: #c83737 !important;
}

/* general form */

input.disabled {
   border: none;
}

.formError {
   display: none;
   background-color: #c83737;
   color: #fff;
   padding: 10px 15px;
   margin: 0 0 15px 0;
   text-align: center;
   border-color: black;
   border-width: 2px;
   border-style: solid;
}

.formSuccess {
   display: none;
   background-color: #217844;
   color: #fff;
   padding: 10px 15px;
   margin: 0 0 15px 0;
   text-align: center;
   border-color: black;
   border-width: 2px;
   border-style: solid;
}

.inputLabel {
   padding: 0 0 5px 0;
}

/* cart edit */

table {
   width: 100%;
   text-align: center;
}

tr {
   width: 100%;
}

td {
   text-align: center;
}

.checkboxGroup {
   width: 100%;
   display: inline-grid;
   grid-template-columns: 1fr 1fr;
   text-align: center;
}

#total {
   text-align: center;
   font-size: 1.25em;
}

#itemEdit2 {
   display: none;
}

#emptyCartMessage {
   display: none;
}

/* stripe */
.StripeElement {
   background-color: white;
   height: 40px;
   padding: 10px 12px;
   border-radius: 4px;
   border: 1px solid transparent;
   box-shadow: 0 1px 3px 0 #e6ebf1;
   -webkit-transition: box-shadow 150ms ease;
   transition: box-shadow 150ms ease;
}

.StripeElement--focus {
   box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
   border-color: #fa755a;
}

.StripeElement--webkit-autofill {
   background-color: #fefde5 !important;
}

/* footer */

footer {
   background-color: rgba(0, 0, 0, 0.5);
   line-height: 40px;
   color: white;
   text-align: center;
}

footer span {
   display: block;
}

footer .pipe {
   display: none;
}

@media only screen and (min-width: 768px) {
   /* main */

   main {
      min-height: calc(100vh - 80px);
   }

   .wrapper {
      grid-template-columns: 375px auto;
   }

   .splash {
      padding: 40px 0 0 0;
   }

   body.index .splash {
      min-height: 0;
   }

   .logo img {
      display: block;
      margin: auto;
   }

   /* footer */

   footer {
      line-height: 40px;
      color: white;
      text-align: left;
      padding: 0 30px;
   }

   footer span {
      display: inline;
   }

   footer .pipe {
      display: inline;
      margin: 0 0.5em;
   }
}

@media only screen and (min-width: 1224px) {
   .wrapper {
      max-width: 900px;
      margin: auto;
      display: block;
   }
}
